body {
    background-image: url("/public/backgrounds/gallery_background_png.avif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height:100%;
    margin:0;
}